body{
    padding: 20px;
    text-align: center;
    background-color:blanchedalmond;
}

#botonPrueba{
    padding: 5px;
    border: solid;
    border-radius: 2px;
    color:black;
    background-color: aquamarine;
    cursor: pointer;
    font-size: 15px;
}
#botonPrueba:hover{
    background-color: aqua;
    font-size: 20px;
}