body{
    background-color: lightblue;
    padding: 10px;
    
}

h1{
    text-align: center;
}

section{
display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr); /*1fr = 900px*/
    background-color: lightblue;
    height: 80 px;
    width: 95%;
    justify-content: center;
}

div{
    border: solid;
    border-radius: 5px;
    background-color: blue;
    font-size: 15px;
    padding: 15px;
    opacity: 100;

}